* {
    box-sizing: border-box;
    font-family: 'Reem Kufi', serif;
    margin:0;
    padding:0;
}

.wrapper {
	display: block;
	padding-left: 10%;
	padding-right: 10%;
	height: 600px;
}

.wrapper-1 {
	padding-top: 10%;
	padding-left: 10%;
}

.wrapper-2 {
	padding-top: 10%;
	margin-left: 10%;
}

.wrapper-3 {
	padding-top: 10%;
	margin-left: 20%;
}

.inner-wrapper {
	display: block;
	padding-left: 10%;
	padding-right: 10%;
	height: 600px;
}

.section-block {
	width: 100%;
}

.task-list {
	margin-top: 0;
	margin-left: 7%;
	margin-right: 2.5%;
}

body {
  display: block;
  height: 100%;
  width: 100%;
  /*background-color: #F5F5F5;*/
  color: #212121;
}

html {
  height: 100%;
}

section {
  width: 100%;
  height: 600px;
  
 /* max-width: 960px;*/
/*  margin-left: 0;
  margin-right: 0;
  overflow: none;
  margin-top: 25%;
  clear: both;
  z-index: -3;*/
}

.block li {
	font-size: 1.08em;
}

/*.block2 {
	background-color: #F5F5F5;
}*/

.block-1 {
	/*height: 900px;
	margin-top: 0;*/
	background-color: #F5F5F5;
}

.block-2 {
	background-color: #E5E5E5;
}

/*.block-2 li {
	font-size: 1.08em;
}*/

.block-3 {
	/*height: 900px;
	margin-top: 0;*/
	background-color: #F5F5F5;
}

/*.block-3 li {
	font-size: 1.08em;
}*/

.block-4 {
	background-color: #E5E5E5;
}

.block-5 {
	/*height: 900px;
	margin-top: 0;*/
	background-color: #F5F5F5;
}

.block-6 {
	background-color: #E5E5E5;
}

.block-7 {
	/*height: 900px;
	margin-top: 0;*/
	background-color: #F5F5F5;
}

.block-8 {
	background-color: #E5E5E5;
}

.block-9 {
	background-color: #F5F5F5;
}

.picture {
	width: 50%;
	height: 600px;
	padding-top: 4%;
	padding-bottom: 4%;
	right: 0;

	/*margin-top: 8%;
	margin-bottom: 10%;*/
	/*background-color: blue;*/
	position: absolute;
	float: right;
	z-index: -1;
	/*position: absolute;*/
	display: inline-block;
}

.picture-2 {
	width: 50%;
	height: 600px;
	padding-top: 4%;
	padding-bottom: 4%;
	left: 0;

	/*margin-top: 8%;
	margin-bottom: 10%;*/
	/*background-color: blue;*/
	position: absolute;
	float: right;
	z-index: -1;
	/*position: absolute;*/
	display: inline-block;
}

.picture-3 {
	width: 100%;
	height: 600px;
	/*padding-top: 4%;
	padding-bottom: 4%;*/
	left: 0;

	/*margin-top: 8%;
	margin-bottom: 10%;*/
	/*background-color: blue;*/
	position: absolute;
	z-index: -1;
	/*position: absolute;*/
	display: inline-block;
}

.picture-4 {
	width: 25%;
	height: 400px;
	padding-top: 4%;
	padding-bottom: 4%;
	right: 0;

	/*margin-top: 8%;
	margin-bottom: 10%;*/
	/*background-color: blue;*/
	position: absolute;
	float: right;
	z-index: -1;
	/*position: absolute;*/
	display: inline-block;
}

.picture-mcgill {
	width: 100%;
	height: 600px;
	/*margin-top: 8%;
	margin-bottom: 10%;*/
	/*background-color: blue;*/
	/*position: absolute;*/
	display: inline-block;
}

.text {
	height: 600px;
	width: 44%;
	display: inline-block;
	position: absolute;
	padding-right: 1%;
}

.text-2 {
	height: 600px;
	display: inline-block;
	position: absolute;
}

.text-3 {
	height: 600px;
	display: inline-block;
	position: absolute;
	right: 5%;
}

.nyc-pic {
	height: 100%;
	width: 100%;
	display: inline-block;
	float: right;
}

.ga-pic {
	height: 100%;
	width: 100%;
	display: inline-block;
	float: right;
}


.header-background {
	background-color: lightblue;
	background: linear-gradient(to lightblue, red , yellow);
	width: 80%;
	height: 200px;
	/*z-index: -1;*/
	position: absolute;
}

.footer-background {
	background-color: lightblue;
	background: linear-gradient(to lightblue, red , yellow);
	width: 80%;
	height: 300px;
	z-index: -1;
	position: absolute;
}

.foot {
	background-color: lightblue;
	width: 80%;
	height: 300px;
	display: block;
	z-index: -1;
	position: absolute;
}

.name {

	padding-top: 5.25%;
	margin: 0 auto;
	position: relative;
}

.contact {
	font-size: 1.5em;
	text-align: center;
	margin-top: 2%;
}

h1 {
	/*display: inline-block;*/
	text-align: center;
	font-size: 8em;
	height: 170px;
	margin: 0;
}

#download {
	padding-left: 0;
}

#education {
	display: block;
	font-size: 15em;
	padding: 0;
}

.edu-wrapper {
	padding-top: 8%;
}

#motto {
	text-align: center;
	font-size: 5.5em;
	position: relative;
	margin-top: 6%;
}

.mtl-pic {
	height: 500px;
	width: 100%;
	right: 0;
	z-index: -1;
	position: absolute;
}

.blt-pic {
	height: 600px;
	width: 50%;
	left: 0;
	margin-left: 50%;
	margin-right: 10%;
	z-index: -1;
	position: absolute;
	margin-bottom: 15%;
}

.music-pic {
	height: 100%;
	width: 100%;
}

.mcgill-pic {
	height: 100%;
	width: 50%;
	left: 20px;
	/*margin-right: 50%;*/
	/*position: absolute;*/
	z-index: -1;
	transform: scaleX(-1);
	display: inline-block;
}

/*.GA-pic {
	height: 500px;
	width: 50%;
	left: 0;
	margin-left: 50%;
	margin-right: 10%;
	z-index: -1;
	position: absolute;
	margin-bottom: 15%;
	display: inline-block;
}*/

.city-name {
	z-index: 10;
	display: inline-block;
	/*margin: 0 auto;*/
	padding-top: 5%;
	position: relative;
	margin-left: 42.555%;
	/*margin-left: 42%;
	margin-top: 20%;*/
}

#montreal {
	margin-left: 38%;
}

h2 {
	font-size: 10em;
	font-family: "lobster";
}

h5 {
	font-size: 2em;
	margin-bottom: 5%;
}

h6 {
	text-align: center;
	font-size: 1.5em;
	color: lightgrey;
	margin-top: 9%;
	transform-origin: 50% 100%;
	animation-duration: .5s;
	animation-name: fadeAndScale;
	animation-timing-function: cubic-bezier(.71,.55,.62, 4.5);
}

@keyframes fadeAndScale {
	from {
		opacity: 0;
		transform: scale(.9, .9);
	}
	to {
		opacity: 1;
		transform: scale(1, 1);
	}
}

.block9 {
	height: 300px;
}

.foot-name {
	margin-top: 10%;
	margin-bottom: 0;
	padding-bottom: 0;

}

.motto-1 {
	margin-top: 5%;
}

.motto-2 {
	padding-top: 5%;
}

.block6 {
	margin-bottom: 35%;
}

.block-wrapper-1 {
	width: 40%;
	height: 100%;
	z-index: 2;
	float: left;
	padding-top: 0;
	padding-left: 5%;
	padding-right: 4%;
}

.block-wrapper-2 {
	width: 40%;
	height: 100%;
	z-index: 2;
	float: right;
	padding-top: 0;
	padding-left: 5%;
}

.block-wrapper-3 {
	width: 40%;
	height: 100%;
	z-index: 2;
	float: right;
	/*padding-top: 23%;*/
	padding-left: 8%;
	display: inline-block;
}

.block-wrapper-4 {
	width: 40%;
	height: 100%;
	z-index: 2;
	padding-top: 8%;
	float: left;
	padding-left: 5%;
}

#click {
	font-size: .5em;
}

h3 {
	text-align: left;
	font-size: 2em;
}

h4 {
	text-align: center;
	font-size: 2.5em;
}

h7 {
	font-size: 1.5em;
}

#exec {
	font-size: 1.15em;
}

h9 {
	font-size: .9em;
}

h8 {
	font: italic bold;
}

li {
	font-size: 1.2em;
}

/*.bmore {
	margin-top: 10%;
}*/

p {
	text-align: left;
	font-size: 1.5em;
	/*padding-right: 35%;*/
}

ul {
	margin-top: 5%;
}

img.mfp-img {
  max-width: 100%;
  max-height: 100%;
}

.form {
    text-align: center;
    padding: 10px 0;
}

.description {
	text-align: left;
	margin-bottom: 2%;
}

#test-form {
    margin: 20%;
    border-right: 2px solid grey;
    background-color: #f4f4f4;
    padding: 2em;
    text-overflow: none;
}

#test-form1 {
    margin: 20%;
    border-right: 2px solid grey;
    background-color: #f4f4f4;
    padding: 2em;
    text-overflow: none;
}

#test-form2 {
    margin: 20%;
    border-right: 2px solid grey;
    background-color: #f4f4f4;
    padding: 2em;
    text-overflow: none;
}

#test-form3 {
    margin: 20%;
    border-right: 2px solid grey;
    background-color: #f4f4f4;
    padding: 2em;
    text-overflow: none;
}

#test-form4 {
    margin: 20%;
    border-right: 2px solid grey;
    background-color: #f4f4f4;
    padding: 2em;
    text-overflow: none;
}

#test-form5 {
    margin: 20%;
    border-right: 2px solid grey;
    background-color: #f4f4f4;
    padding: 2em;
    text-overflow: none;
}

#test-form6 {
    margin: 20%;
    border-right: 2px solid grey;
    background-color: #f4f4f4;
    padding: 2em;
    text-overflow: none;
}

#test-form7 {
    margin: 20%;
    border-right: 2px solid grey;
    background-color: #f4f4f4;
    padding: 2em;
    text-overflow: none;
}

#test-form8 {
    margin: 20%;
    border-right: 2px solid grey;
    background-color: #f4f4f4;
    padding: 2em;
    text-overflow: none;
}

#test-form9 {
    margin: 20%;
    border-right: 2px solid grey;
    background-color: #f4f4f4;
    padding: 2em;
    text-overflow: none;
}

#test-form10 {
    margin: 20%;
    border-right: 2px solid grey;
    background-color: #f4f4f4;
    padding: 2em;
    text-overflow: none;
}



.form.li {
    font-size: 3em;
    text-decoration-style: none;
}

.form.ol {
    list-style: none;
}

#name, #email #phone {
    margin-left: 1%;
}

#questions {
    height: 15%;
    width: 100%;
}

.form-h1 {
	font-size: 3em;
	color: blue;
}

li {
	text-align: left;
}

/*li:hover {
    text-decoration: none;
    background-color: #079fde;
    color: #ffffff;
}*/

.popup-with-form:hover {
    background-color: #079fde;
    color: #ffffff;
    cursor:pointer;
}

.footer-block {
	width: 100%;
	/*height: 30px;*/
	background-color: black;
	font-color: white;
	color: white;
	position: none;
	text-align: right;
	padding-top: 3px;
	padding-right: 15px;
}

iframe {
	width: 100%;
	height: 100%;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@media screen and (max-width:768px) {

	body {
		width: 1155px;
	}

	h1 {
		font-size: 4em;
	}

	.header-background {
		margin-left: 20%;
	}

	.text-2 {
		width: 44%;
	}
}

button {
    font-size: 1em;
    padding: .25em .275em;
    height: 45px;
   /* width: 50%;*/
    /*margin-left: 20%;*/
    text-decoration: none;
    color: #787878;
    cursor:pointer;
}